@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700|Ropa+Sans|Oswald);

@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css);

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto',Arial,sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	position: relative;
	-webkit-text-size-adjust: none;
	background:url(http://i.imgur.com/RGNXBxQ.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

body * {
	text-shadow: none;
}			
a {
	color:#5AD37A;
	text-decoration:none;
}

#page {
	background:rgba(0, 0, 0, 0.6);
	margin:0;
	padding:10%;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.7);
	border-bottom: 1px solid rgba(100, 100, 100, 0.3);
	margin-bottom:50px;
}
footer{
	margin:30px 0 20px;
	padding:0;
}
a.fa{
	color:#fff;
	margin-right:20px;
}
a:hover, a .fa{
	color:#fff;
}
a.fa:hover{
	color:#5AD37A;
}
.result {
				margin-bottom:30px;
				display:block;
				overflow:hidden;
				*overflow:visible;
			}
.result p{
				margin:0
			}
p.left{
				float:left
			}
 p.right{
				float:right
			}
.result a,
.right .fa{
				margin-right:15px;
				text-decoration:none
			}
#ibacor_gists .fa{
			margin-right:15px;
			}

.btn{
	background: #e44;
	display: inline-block;
	padding: 8px 14px;
	color: #fff;
	text-transform: capitalize;
	border-radius: 2px;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn:hover{
	background: #222;
	color: #fff;
}


#naek {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 0;
    bottom: 20px;
    display:none;
}
