<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <img src="/assets/images/ben.jpg" alt="Picture of me" class="avatar" />
      {% if page.title == "Home" %}
        <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
      {% else %}
        <h2><a href="{{ site.baseurl }}">{{ site.title }}</a></h2>
      {% endif %}
      <p class="bio">
        Co-founder of <a href="http://csworkflow.com">CS Workflow</a>.
        Also <a href="http://secretsanta.csworkflow.com">Blog Secret Santa</a> and
        <a href="http://www.meetup.com/Content-Strategy-Melbourne/">Content Strategy Melbourne meetup</a>.
        Lots of content and coding. My daughter is {{ "2013-06-14" | timeago }}.
      </p>
    </div>

    <div class="social-links">
      <ul>
        <li><a href="https://twitter.com/benchadfield"><span class="icon-twitter"></span></a></li>
        <li><a href="http://facebook.com/benchadfield"><span class="icon-facebook"></span></a></li>
        <li><a href="http://au.linkedin.com/in/benchadfield"><span class="icon-linkedin"></span></a></li>
        <li><a href="https://github.com/bchadfield"><span class="icon-github-circled"></span></a></li>
        <li><a href="http://www.youtube.com/user/kaliblack"><span class="icon-youtube"></span></a></li>
      </ul>
    </div>

    <!-- <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav> -->

    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
